// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	font-family: helvetica, verdana, sans-serif;
}

h1 {
	font-size: 28px;
}

p {
	font-size: 12px;
}

.error_messages {
	color: red;
}

.field{
	margin: 5px;
	display:block;
	label {
		float: left;  
		width: 150px;  
		margin-right: 10px;  
		text-align: right;  
		font-weight: bold;
	}
	input {
		width: 150px;

	}
}	

.nav {
	float:right;
	font-size: 11px;
	margin-bottom: 0px;
	a {
		text-decoration:none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.chat_container{
	height:400px;
	margin: 10px auto;
	border: 1px solid #ccc;
	#chat_room{
		height:400px;
		padding: 10px;
		p {
			font-size: 12px;
			color: #333;
			.alert{
				font-style: italic;
			}
			.private{
				font-weight:bold;
				color: blue;
			}
			
		}
	}
	#new_message_form{
		input #message{
			width: 400px;
		}
	}
}


